@using SubdivxSearch.Domain
@using SubdivxSearch.Extensions
@model SubdivxSearch.Models.SubSearchResultsModel

@{
    ViewBag.Title = "Resultados de la búsqueda";
}

<div class="header-site">
<div class="header-search-box">
    @using (Html.BeginForm("SearchSub", "Home", FormMethod.Get))
    {
        <input id="searchTermSearchBox" class="form-control search-control" name="searchTerm" type="text" />
        <input id="searchSubmitSearchBox" class="btn btn-warning" type="submit" value="Buscar" />  
    }
</div>

<div class="header-site-title">
    <a href="@Url.Action("Index", "Home")">
        <h1 class="site-title">
            <img src="\Images\logo.png" />SubSearch<img id="magnifier-search-page" src="\Images\magnifier.png"/>
        </h1>
    </a>
</div>
</div>

<div class="clearfloat"></div>

@*<h2>@ViewBag.Title</h2>*@

@*<h3>Título / año / ripeado por</h3>
<p>@Model.Title / @Model.Year / @Model.ReleaseGroup</p>*@

@if (!Model.Subs.Any())
{
    <h3>No se encontraron subtítulos</h3>
}
else
{
    <ul class="subs-list">
        @foreach (var sub in Model.Subs)
        {
            <li>
                <div class="sub-section">
                    <div class="sub-section-left-column">
                        <a class="icon-download-alt sub-download-button" href="@sub.SubUrl"></a>
                    </div>
                    <div class="sub-section-right-column">
                        <h3><a class="seamless-link" href="@sub.SubUrl">@sub.Title</a></h3>
                        <div class="sub-description">@sub.Description</div>

                        <div class="sub-comments" id="comments-sub-@sub.Id.ToString()">
      
                        @{
                            var visibleCommentCount = 0;
                        }                  

                        @if (sub.Comments != null && sub.Comments.Any())
                        {
                            <div class="sub-comments-title"><b>Comentarios:</b></div>
                            <div>
                                @foreach (var comment in sub.Comments)
                                {
                                    var subClass = string.Empty;
                                    if (!comment.ContainsIgnoreCase(Model.ReleaseGroup))
                                    {
                                        subClass = "hideable-comment hidden-comment";
                                    }
                                    else
                                    {
                                        visibleCommentCount++;
                                    }

                                    <p class="@subClass">
                                        <span class="left-arrow icon-chevron-right"></span><span class="single-comment-text">@comment</span><span class="right-arrow icon-chevron-left"></span>
                                    </p>
                                }
                            </div>
                            
                            if (visibleCommentCount < sub.Comments.Count())
                            {
                                <div class="sub-show-all-separator">
                                    <hr />
                                    <button class="should-show btn-show-all-comments" 
                                            data-sub-id="@sub.Id.ToString()">ver todos</button>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="sub-comments-title"><b>No hay comentarios</b></div>
                        }
                        </div>
                          
                        <div class="sub-extrainfo">
                            <ul>
                                <li><span><b>Descargas:</b></span><span>@sub.Downloads</span></li>
                                <li><span><b>Cds:</b></span><span>@sub.Cds</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}


@section scripts {
    <script type="text/javascript">
        $('#searchTermSearchBox').val('@Model.SearchTerm');

        $('.btn-show-all-comments').click(function () {
            var $btn = $(this);

            var subId = $btn.attr('data-sub-id');
            var $comments = $('#comments-sub-' + subId);

            var showComments = $btn.hasClass('should-show');
            if (showComments) {
                $btn.text('ver relevantes');
                $comments.find('.hideable-comment').show(200);
            } else {
                $btn.text('ver todos');
                $comments.find('.hideable-comment').hide(200);
            }

            $btn.toggleClass('should-show');
        });
        
@*        var downloadUrlTemplate = '@Url.Action("DownloadSub", new { url = "_URL_" })';

        $('.download-button').click(function () {
            var subdivxDownloadUrl = $(this).attr('data-download-url');
            var downloadUrl = downloadUrlTemplate.replace('_URL_', escape(subdivxDownloadUrl));

            $.ajax({
                url: downloadUrl
            });
        });*@
    </script>
}
