@using SubdivxSearch.Extensions
@using SubdivxSearch.Helpers
@model SubdivxSearch.Models.SubSearchResultsModel

@{
    ViewBag.Title = "Resultados de la búsqueda";
}

<div class="header-site">
@using (Html.BeginForm("SearchSub", "Home", FormMethod.Get))
{
    <div class="header-search-box">
        <input id="searchTermSearchBox" class="form-control search-control" name="searchTerm" type="text" value="@Model.SearchTerm" />
        <input id="searchSubmitSearchBox" class="btn btn-warning" type="submit" value="Buscar" />  
    </div>
}

<div class="header-site-title">
    <a href="@Url.Action("Index", "Home")">
        <h1 class="site-title">
            <img src="/Images/logo.png" alt="logo"/>SubSearch<img id="magnifier-search-page" src="/Images/magnifier.png" alt="magnifier"/>
        </h1>
    </a>
</div>
</div>

<div class="clearfloat"></div>

@*<div>
    <div id="CDCount">
        <input id="CDCount-0" name="CDCount" type="radio" value="0">
        <label for="CDCount-0">
            <span class="radio-text">1 CD</span>
        </label>
        <input id="CDCount-1" name="CDCount" type="radio" value="1">
        <label for="CDCount-1">
            <span class="radio-text">2 CD</span>
        </label>
        <input id="CDCount-2" name="CDCount" type="radio" value="2" checked="checked">
        <label for="CDCount-2">
            <span class="radio-text">Todos</span>
        </label>
    </div>
    <div id="btn-show-all-subs-comments" class="icon-comments" title="Ver todos"></div>
</div>

<div class="clearfloat"></div>*@

<div class="card">
    <div class="card-handle">
        <div class="card-handle-icon icon-chevron-right icon-chevron-left"></div>
    </div>
    
    <div class="card-contents">
        <div class="card-title">Criterio de búsqueda</div><hr/>

        @if (Model.IsTvShow)
        {
            <div class="card-item-label">Título</div>
            <div class="card-item-value">@StringHelper.GetDefault(Model.Title, "No especificado")</div>
        
            <div class="card-item-label">Temp. / Episodio</div> 
            <div class="card-item-value">@StringHelper.GetDefault(Model.Season, "No especificado") / @StringHelper.GetDefault(Model.Episode, "No especificado")</div>
                
            <div class="card-item-label">Ripeado por</div>
            <div class="card-item-value">@StringHelper.GetDefault(Model.ReleaseGroup, "No especificado")</div>
        }
        else
        {
            <div class="card-item-label">Título</div>
            <div class="card-item-value">@StringHelper.GetDefault(Model.Title, "No especificado")</div>
        
            <div class="card-item-label">Año</div> 
            <div class="card-item-value">@StringHelper.GetDefault(Model.Year, "No especificado")</div>
        
            <div class="card-item-label">Ripeado por</div>
            <div class="card-item-value">@StringHelper.GetDefault(Model.ReleaseGroup, "No especificado")</div>
        }
        
        <hr/>
        <div>
            <div id="CDCount">
                <input id="CDCount-0" name="CDCount" type="radio" value="0">
                <label for="CDCount-0">
                    <span class="radio-text">1 CD</span>
                </label>
                <input id="CDCount-1" name="CDCount" type="radio" value="1">
                <label for="CDCount-1">
                    <span class="radio-text">2 CD</span>
                </label>
                <input id="CDCount-2" name="CDCount" type="radio" value="2" checked="checked">
                <label for="CDCount-2">
                    <span class="radio-text">Todos</span>
                </label>
            </div>
            <div id="btn-show-all-subs-comments" class="icon-comments" title="Ver todos"></div>
        </div>

        <div class="clearfloat"></div>

    </div>
</div>

@if (!Model.Subs.Any())
{
    <h2 class="no-subs-found">No se encontraron subtítulos</h2>

    <div>
        <a href="#search-help-dialog" data-toggle="modal" id="show-search-help-dialog" class="sub-text">¿Cómo buscar?</a>
    </div>

    @Html.Partial("_SearchHelp")
    
}
else
{
    <ul class="subs-list">
        @foreach (var sub in Model.Subs)
        {
            <li data-cd-count="@sub.Cds">
                <div class="sub-section">
                    <div class="sub-section-left-column">
                        <a class="icon-download-alt sub-download-button" href="@Url.Action("DownloadSub", 
                        new {
                                url = Url.Encode(sub.DownloadUrl), 
                                fileDownloadName = Url.Encode(Model.SearchTerm)
                            })"></a>
                    </div>
                    <div class="sub-section-right-column">
                        <h3><a class="seamless-link" href="@sub.SubUrl">@sub.Title</a></h3>
                        <div class="sub-description">@sub.Description</div>

                        <div class="sub-comments" id="comments-sub-@sub.Id.ToString()">            

                        @if (sub.Comments != null && sub.Comments.Any())
                        {
                            <div class="sub-comments-title"><b>Comentarios:</b></div>
                            <div>
                                @foreach (var comment in sub.Comments)
                                {
                                    var subClass = string.Empty;
                                    if (!comment.ContainsIgnoreCase(Model.ReleaseGroup) || string.IsNullOrEmpty(Model.ReleaseGroup))
                                    {
                                        subClass = "hideable-comment hidden-comment";
                                    }

                                    <p class="@subClass">
                                        <span class="left-arrow icon-chevron-right"></span><span class="single-comment-text">@comment</span><span class="right-arrow icon-chevron-left"></span>
                                    </p>
                                }
                            </div>
                            
                            <div class="sub-show-all-separator">
                                <hr />
                                <button class="should-show btn-show-all-comments" 
                                        data-sub-id="@sub.Id.ToString()">ver todos</button>
                            </div>
                        }
                        else
                        {
                            <div class="sub-comments-title"><b>No hay comentarios</b></div>
                        }
                        </div>
                          
                        <div class="sub-extrainfo">
                            <ul>
                                <li><span><b>Descargas:</b></span><span>@sub.Downloads</span></li>
                                <li><span><b>Cds:</b></span><span>@sub.Cds</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}

@section scripts {
    <script type="text/javascript">
        $('.btn-show-all-comments').click(function() {
            var $btn = $(this);

            var subId = $btn.attr('data-sub-id');
            var $comments = $('#comments-sub-' + subId);

            var showComments = $btn.hasClass('should-show');
            if (showComments) {
                $btn.text('ver relevantes');
                $comments.find('.hideable-comment').show(200);
            } else {
                $btn.text('ver todos');
                $comments.find('.hideable-comment').hide(200);
            }

            $btn.toggleClass('should-show');
        });

        $('#btn-show-all-subs-comments').click(function() {
            var $this = $(this);

            if ($this.hasClass('icon-comments')) {
                $this.attr('title', 'Ver relevantes');
                $('.btn-show-all-comments.should-show').click();
            } else {
                $this.attr('title', 'Ver todos');
                $('.btn-show-all-comments:not(.should-show)').click();
            }

            $this.toggleClass('icon-comments');
            $this.toggleClass('icon-comments-alt');
        });

        $('.card-handle').click(function() {
            $('.card').toggleClass('card-collapsed');
            $('.card-handle-icon').toggleClass('icon-chevron-right');
        });

        $('#CDCount input:radio').click(function() {
            var selId = parseInt($("#CDCount input[name=CDCount]:checked").attr('id').slice(-1));
            if (selId == 0 || selId == 1) {
                $('.subs-list > li').each(function () {
                    var $this = $(this);
                    if ($this.attr('data-cd-count') == selId + 1) {
                        $this.show(200);
                    } else {
                        $this.hide(200);
                    }
                });
            } else if (selId == 2) {
                $('.subs-list > li').each(function () {
                    $(this).show(200);
                });
            }
        });

        $(document).ready(function() {
            var cardHeight = $('.card').height();
            var $cardHandleIcon = $('.card-handle-icon');
            var cardHandleIconHeight = $cardHandleIcon.height();

            $cardHandleIcon.css({
                position: 'absolute',
                top: cardHeight / 2 - cardHandleIconHeight / 2
            });
        });

        @*        var downloadUrlTemplate = '@Url.Action("DownloadSub", new { url = "_URL_" })';

        $('.download-button').click(function () {
            var subdivxDownloadUrl = $(this).attr('data-download-url');
            var downloadUrl = downloadUrlTemplate.replace('_URL_', escape(subdivxDownloadUrl));

            $.ajax({
                url: downloadUrl
            });
        });*@
    </script>
}
