<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
    @{
        var siteUrl = (this.Request.Url == null ? "http://subsearch.apphb.com" : this.Request.Url.Host);
    }

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - SubSearch</title>
        <link href="~/favicon.png" rel="shortcut icon" type="image/png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Buscador de subtítulos en español. Este buscador realiza búsquedas extendidas sobre la descripción y los comentarios de subtítulos alojados en Subdivx.com" />

        <meta property="og:image" content="/images/share-logo.png" />
        <meta property="og:title" content="SubSearch" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@siteUrl" />
        <meta property="og:description" content="La mejor forma de buscar subtítulos de Subdivx.com" />
        <meta property="og:site_name" content="SubSearch" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
@*        @Styles.Render("~/Content/themes/base/css")*@
        @Scripts.Render("~/bundles/modernizr")
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19797010-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        
    </head>
    <body>
        <img id="beta-ribbon" src="/Images/beta-ribbon.gif" alt="beta ribbon"/>
        <div class="container">
            @RenderBody()
        </div>
        
        @RenderSection("footer", required: false)

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        
        <div class="sharing-bar">
            <div>
                <a href="https://www.facebook.com/sharer/sharer.php?u=@(siteUrl + "/#facebook")" target="_blank">
                    <img src="/images/facebook_32.png"/>
                </a>
            </div>
            <div >
              <a href="https://twitter.com/share?url=@(siteUrl + "/#twitter")" target="_blank">
                  <img src="/images/twitter_32.png"/>
              </a>
            </div>
            <div>
                <a href="https://plus.google.com/share?url=@(siteUrl + "/#googleplus")" 
                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <img src="/images/googleplus_32.png"/>
                </a>
            </div>

        </div>

    </body>
</html>
