<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - SubSearch</title>
        <link href="~/favicon.png" rel="shortcut icon" type="image/png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Buscador de subtítulos en español. Este buscador realiza búsquedas extendidas sobre la descripción y los comentarios de subtítulos alojados en Subdivx.com" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
@*        @Styles.Render("~/Content/themes/base/css")*@
        @Scripts.Render("~/bundles/modernizr")
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19797010-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

    </head>
    <body>
        <img id="beta-ribbon" src="/Images/beta-ribbon.gif" alt="beta ribbon"/>
        <div class="container">
            @RenderBody()
        </div>
        
        @RenderSection("footer", required: false)

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
